html {
  background: #354057;
  height: 100%;
}

/* .table-responsive {
  display: table;
} */

.main-body {
  background: #354057;
}

.card-height {
  min-height: 16rem;
}

.percent {
  font-size: 5rem;
}

.percent-green {
  color: #1fdeb3;
}

.percent-red {
  color: #ff7789;
}

.text-target-label {
  font-size: 2rem;
}

.text-target {
  font-size: 2.5rem;
  color: #5897fe;
}

.text-sale-amount {
  font-size: 2.5rem;
  color: #e582ef;
}

.hr-white {
  background: white;
}

/* If screen width is less than 36em ( 767/16 px) */
@media only screen and (max-width: 47.9375em) {
  .mb-resp-card {
    margin-bottom: 1rem;
  }
}

/* 453/16 */
@media only screen and (max-width: 28.3125em) {
  .text-target-label {
    font-size: 1.8rem;
  }

  .text-target {
    font-size: 2.3rem;
  }

  .text-sale-amount {
    font-size: 2.3rem;
  }
}
